/* Form.css */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    color: #ff0000; /* אדום */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-button {
    padding: 10px;
    background-color: #ff0000; /* אדום */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #ff6666; /* אדום בהיר יותר */
  }
  